//- 주석문구 안나오게 하려면 이렇게 주석표시 해줘야함.
//- www 폴더에 파일이 생성되지 않으려면 페이지 생성시 etribe_ux_ 라는 접두사 붙이면 됨.
//- 이곳에는 다양한 라이브러리를 추가 할 수 있음. 이 라이브러리는 퍼블리싱 할때만 쓰임. 개발에 안 넘어감.





//- viewport
mixin viewport_mobile
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
	//- 모바일 웹사이트 만들때 넣어줌.

mixin viewport_pc
	meta(name='viewport', content='width=device-width, initial-scale=1')
	//- PC 버전을 스마트폰이나 태블릿 디바이스로 보려고 할때 사용. (웹사이트 상황에 따라 수정이 필요 할 수도 있음.)

//- css link
mixin css_link(href)
	link(href="#{currentUrl}" + href, type='text/css', rel='stylesheet')

//- javascript link
mixin js_link(src)
	script(src="#{currentUrl}" + src, type='text/javascript', charset='utf-8')

//- images URL
mixin img_src(src, alt, width, height)
	img(src="#{currentUrl}" + src, alt=alt, width=width, height=height)

//- IE 조건부 주석 처리
mixin ie(condition)
	| <!--[!{condition}]>
	block
	| <![endif]-->

//- 아래는 jade 에서 사용 예제
//- +ie('if IE 8')
//- 	+css_link("/stylesheets/style-ie8-1.css")
//- 	+css_link("/stylesheets/style-ie8-2.css")







//- 컨텐츠 관련 라이브러리
//- 컨텐츠 라이브러리 네이밍은 클래스이름 앞에 lib_  라고 붙여 줍니다.
//- location 영역
mixin lib_location(...items)
	ul.location_list.clfix
		each item, index in items
			if index === 0
				li.home
					a(href="#")= item
			else
				li
					a(href="#")= item


